KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
 
KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/serialio.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/idt_asm.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/utility/inPortByte.o \
$(ARCHDIR)/utility/outPortByte.o\
